@import org.webjars.play.WebJarsUtil
@import controllers.AssetsFinder
@import utils.DisplayFieldsAsLabels._

@(user: models.User, clusterName: String, projectName: String,
        extractorList: Iterable[DeployedTool], projectBindings: ProjectBindings, bindingForm: Form[BindingFormData])(implicit request: RequestHeader, messages: Messages,
        webJarsUtil: WebJarsUtil, assets: AssetsFinder, clusters: ClusterConfigs)

@main(messages("bindTools.title"), Some(user), Some(clusterName)) {
    <div class="container">
        @helper.form(action = routes.ProjectsController.createBindingsForQueue(clusterName, projectName)) {
            @helper.CSRF.formField
            @helper.inputText(bindingForm("projectName"), 'hidden -> "hidden")

            <h1>Bind Extractors to @projectName</h1>
            <div class="col-lg-2"></div>
            <div class="col-lg-8 col-offset-6">

                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Extractor</th>
                            <th>Queue</th>
                            <th>Binding</th>
                        </tr>
                    </thead>
                    <tbody>
                    @helper.repeat(bindingForm("bindings")) { binding =>
                        <tr>
                            <td>@helper.inputText(binding("tool"),
                                '_label -> null,
                                'size -> "32",
                                'readonly -> "readonly")
                                @helper.inputText(binding("toolId"), 'hidden->"hidden")
                            </td>
                            <td>@helper.inputText(binding("queue"),
                                '_label -> null,
                                'width -> "32",
                                'readonly -> "readonly")
                            </td>
                            <td>
                                @helper.select(binding("bindingType"), options = helper.options(List("None", "All Messages", "Tool Messages")))
                                @helper.inputText(binding("origBindingType"), 'hidden->"hidden")
                            </td>
                        </tr>
                    }
                    </tbody>
                </table>
                <button id="submit" type="submit" class="btn btn-primary">Save </button>
                }
    </div>
        <div class="col-lg-2"></div>
    </div>
}