@import play.api.i18n.Messages
@import play.api.libs.json._
@import play.api.mvc.RequestHeader
@import org.webjars.play.WebJarsUtil
@import controllers.AssetsFinder

@(user: models.User, clusterName: String,  extractors: List[ToolsCatalogRecord], converters: List[ToolsCatalogRecord])(implicit request: RequestHeader, messages: Messages,
    webJarsUtil: WebJarsUtil, assets: AssetsFinder, clusters: ClusterConfigs)

@main(messages("chooseTools.title"), Some(user), Some(clusterName)) {
    <h1>Deploy a Tool to @clusterName</h1>
    <div class="row data">

        <div class="row">
            <p class="col-md-3"><strong>@messages("tool") Type:</strong></p>
            <select id="tool-type" class="col-md-2" onChange="changeType()">
                <option selected>Extractor</option>
                <option>Converter</option>
            </select>
            <p class="col-md-7"></p>
        </div>
        <div class="row">
            <p class="col-md-3"><strong>@messages("tool") Name:</strong></p>
            <select id="tool-name" class="col-md-2" onChange="changeName()">
                <option id="chooseoption" value="Choose..." >Choose...</option>
                @extractors.map { e=>
                    <option value='@Json.toJson(e)' class="extractoroption">@e.version</option>
                }
                @converters.map { e=>
                    <option value='@Json.toJson(e)' class="converteroption" style="display: none;">@e.version</option>
                }
            </select>
            <div class="col-md-1"></div>
            <div id="tool-desc" class="col-md-6">
            </div>
        </div>
        <div class="row">
            <div class="col-md-1">
                <a href="/" class="btn btn-outline-primary" role="button">Cancel</a>
            </div>
            <div class="col-md-1">
                <a id="step2" href='enter-deploy-parameters' class="btn btn-primary" role="button" disabled >Next</a>
            </div>
        </div>
    </div>
    <script >
            function changeType(){
                var tooltype = $('#tool-type').val();
                // cannot use Node replace, since json in option value may not escape.
                if(tooltype === 'Extractor'){
                    $('.extractoroption').show();
                    $('.converteroption').hide();
                    // $('.extractoroption')[0].selected= true;
                } else {
                    $('.extractoroption').hide();
                    $('.converteroption').show();
                    // $('.converteroption')[0].selected= true;
                }
                $("#tool-name").val("Choose...");
                // this doesn't work
                // $('#chooseoption').selected= true;
                changeName();
            }

            function changeName(){
                var toolname = $('#tool-name').val();

                var container = $('#tool-desc');
                container.children().remove();
                if(toolname === 'Choose...'){
                    $('#step2').attr("disabled",true);
                } else {
                    var tool = JSON.parse(toolname);
                    container.append('<p>Docker Image Name: ' + tool['params']['dockerimageName'] +' </p>'+
                            '<p>Updated: '+ tool['updateDate'] +'</p>' +
                            '<p>Description: '+ tool['whatsNew'] +'</p>' +
                            '<p>Script Submitter: '+ tool['author'] +'</p>' +
                            '<p>Number of Download: '+ tool['downloads']+' </p>');

                    $('#step2').attr('href', "enter-deploy-parameters/" + tool["toolVersionId"]);
                    $('#step2').attr("disabled",false);
                }
            }
    </script>
}