@import play.api.i18n.Messages
@import play.api.mvc.RequestHeader
@import helper._
@import org.webjars.play.WebJarsUtil
@import controllers.AssetsFinder
@import com.mohiva.play.silhouette.impl.providers.SocialProviderRegistry

@(form: Form[utils.auth.LDAPInfo])(implicit request: RequestHeader, messages: Messages, webJarsUtil: WebJarsUtil,
        assets: AssetsFinder, clusters: ClusterConfigs)

@main(messages("ldap.title")) {
  @helper.form(CSRF(routes.SocialAuthController.ldapauthenticate())) {
    <div class="col-xs-4"></div>
    <div class="col-xs-4">
      <h1>Sign in</h1>

      @form.globalError.map { error =>
        <p class="error">
          @error.message
        </p>
      }

      <div class="form-group">
        <label for="username">User Name:</label>
        <input type="text" name="username" class="form-control" id="username">
      </div>
      <div class="form-group">
        <label for="password">Password:</label>
        <input type="password" name="password" id="password" class="form-control">
      </div>

      <div class="form-group">
        <input type="hidden" name="code" id="code" class="form-control" value="loginhtml" >
      </div>

      <p>
        <button class="btn btn-default" type="submit" id="loginbutton">Login</button>
        <a class="btn btn-default" href="http://browndog.ncsa.illinois.edu/signup/" id="signup">Sign Up</a>
      </p>
    </div>
    <div class="col-xs-4"></div>
  }
}